.main-wrapper{
  display: block;
  width: 100%;
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
  &.main-wrapper__xl {
    max-width: 1180px;
  }
}


.btn_link {
  @include font('Lato', 400);
  background-color: #FFFFFF;
  padding: 10px 30px;
  font-size: 14px;
  color: $grey;
  font-weight: bold;
  border-radius: 100px;
  text-transform: uppercase;
  color: $white;

  &_blue{
    background-color: $blue-4;
    color: $white;
  }
}
