@mixin font($name, $weight) {
  // regular weight= 400 / light weight= 300 / bold weight= 700
    font-family: $name;
    font-weight: $weight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*************************/
/* # Inline-block bugfix */
/*************************/
// @link http://www.alsacreations.com/astuce/lire/1432-display-inline-block-espaces-indesirables.html

@mixin no-inline-block-margin() {
    margin-right: -0.25em;
}
