//// TITLES /////

.title {
  @include font('Lato', 300);
  font-size: 64px;
  line-height: 68px;
  color: $grey-dark;
  letter-spacing: 1.5;
  &.white {
    color: $white;
  }
  .bold {
    @include font('Lato', 700);
  }
}

.title-contributor {
  @include font('Lato', 700);
  font-size: 18px;
  line-height: 30px;
  color: $white;
  letter-spacing: 2;
}

//// TEXTS /////
.text {
  @include font('Lato', 400);
  font-size: 20px;
  line-height: 30px;

  &.purple {
    color: $purple;
  }

  &.grey {
    color: $grey;
  }
  &.white {
    color: $white;
  }
}

.text-2 {
  @include font('Lato', 400);
  font-size: 16px;
  line-height: 26px;
  &.purple {
    color: $purple;
  }
  &.grey {
    color: $grey;
  }
}

.text-small {
  @include font('Lato', 400);
  font-size: 14px;
  line-height: 25px;
  color: $white;
  &.grey {
    color: $grey;
  }
  &.bold {
    @include font('Lato', 700);
  }
}

.text-contributor {
  @include font('Lato', 300);
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 2;
  color: $white;
}


