.hidden-desktop {
  @include mq($from: 'desktop') {
    display: none;
  }
}

.hidden-mobile {
  @include mq($from: 'mobile') {
    display: none;
  }
}

.visible-mobile {
  @include mq($from: 'mobile') {
    display: block;
  }
}

.hidden {
  display: none;
  &.visible-desktop {
    @include mq($from: 'desktop') {
      display: block;
    }
  }
}
