//COLORS
$white : #FFFFFF;
$black : #000000;
$turquoise : #81E4D1;
$purple : #32325D;
$purple-2 : #444CB2;
$purple-3 : #3740B0;
$grey : #6A7C94;
$grey-dark : #374657;
$blue : #386EB7;
$blue-2 : #4E76F2;
