//COLORS
$white : #FFFFFF;
$white-2 : #FAFAFA;
$black : #000000;
$turquoise : #81E4D1;
$purple : #32325D;
$purple-2 : #444CB2;
$purple-3 : #3740B0;
$grey : #6A7C94;
$grey-light2: #F9F9F9;
$grey-light : #BDBDBD;
$grey-dark : #374657;
$grey-dark-2 : #565656;
$blue : #2E4064;
$blue-dark : #1E2B45;
$blue-2 : #4E76F2;
$blue-3 : #465C86;
$blue-4 : #1A52C5;
//MEDIA QUERIES

/* https://github.com/sass-mq/sass-mq */

$mq-breakpoints: (
    mobile: 640px,
    tablet: 768px,
    desktop: 1024px,
    wide: 1366px,
    xlarge: 1440px
);

